@import '@carbon/colors/scss/colors';

.button {
  margin: 15px;
  height: 82px;
  background-color: #183770a3;
  color: white;
  width: 180px;
  position: relative;
  border-radius: 10px;
  cursor: pointer;
  border-style: none;
}
.icon {
  position: absolute;
  left: 20px;
  top: 20px;
}
.title {
  position: absolute;
  right: 35px;
  top: 27px;
  font-size: 15px;
}
