@import 'carbon-components/scss/globals/scss/vendor/@carbon/type/scss/_font-family.scss';
@import 'carbon-components/scss/globals/scss/vendor/@carbon/layout/scss/_breakpoint.scss';
@import 'carbon-components/scss/globals/scss/_typography.scss';
@import 'carbon-components/scss/globals/scss/_vars.scss';
@import '@carbon/colors/scss/colors';
.Inc {
  color: $ui-background;
}
.ImgHeader {
  padding: $spacing-06;
}

.Image {
  width: $spacing-10;
  border-radius: 100%;
  float: left;
  margin: $spacing-04;
  height: $spacing-10;
}
.bx--header {
  margin-top: 0 rem !important;
}
.bx--side-nav__items {
  margin-left: -$spacing-08;
}
