.Inc {
  color: white;
}
.ImgHeader {
  padding: 24px;
}

.Image {
  width: 60px;
  border-radius: 100%;
  float: left;
  margin: 10px;
  height: 60px;
}
.bx--header {
  margin-top: 0 rem !important;
}
