@import '@carbon/colors/scss/colors';

.maindiv1 {
  background-color: $cool-gray-10;
  height: 100vh;
}
.bx--data-table-content {
  height: 100vh;
}
.bx--table-expand__svg {
  visibility: hidden !important;
}
