.Tabdiv {
  margin-top: 80px;
}

.bx--tabs--scrollable.bx--tabs--scrollable--container
  .bx--tabs--scrollable__nav-item
  .bx--tabs--scrollable__nav-link {
  background-color: rgb(121, 121, 187);
  margin: 2px;
}
